.about-testify {
  &-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &-title {
    font-size: var(--font-size-title);
  }

  &-description {
    font-size: var(--font-size-default);
  }
}
