.definition {
  &-wrapper {
    flex: 1;
    overflow-y: auto;
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: var(--default-spacement);
    padding: var(--default-spacement);
  }
}
