.exercises-panel {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #c3c3c3;
  padding: 10px;

  &-close-button {
    align-self: flex-end;
  }

  &-open {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: 10px;
  }

  &-list,
  &-sub-list {
    display: flex;
    flex-direction: column;
    list-style-type: none !important;
    margin-inline-start: 0 !important;
    font-size: 18px;
    gap: 10px;
  }

  &-sub-list {
    margin-top: 10px;
    padding-left: 20px;
  }
}
