.exercises-panel {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #c3c3c3;
  padding: 10px;

  &-close-button {
    align-self: flex-end;
  }

  &-open {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-list {
    font-size: 18px;
    gap: 10px;
  }
}
