$spacement: 45px;

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: $spacement;
  padding-right: $spacement;
  gap: $spacement;
  height: 100px;
}
