.definitions-panel {
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-spacement);
  }

  &-open {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  &-closed {
    padding: var(--default-spacement);
  }

  &-list-wrapper {
    flex: 1;
    overflow-y: auto;
  }

  &-list,
  &-sub-list {
    display: flex;
    flex-direction: column;
    list-style-type: none !important;
    margin-inline-start: 0 !important;
    font-size: 18px;
    gap: var(--default-spacement);
  }

  &-prime-list {
    padding: var(--default-spacement);
  }

  &-sub-list {
    margin-top: var(--default-spacement);
    padding-left: calc(2 * var(--default-spacement));
  }
}
