@import "./css-variables/colors.scss";
@import "./css-variables/font-sizes.scss";
@import "./css-variables/font-families.scss";
@import "./css-variables/spacements.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
