@import "./css-variables/colors.scss";
@import "./css-variables/font-sizes.scss";
@import "./css-variables/font-families.scss";
@import "./css-variables/spacements.scss";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
